[submodule "app/athens"]
	path = app/athens
	url = https://github.com/athensresearch/athens.git
[submodule "app/hugit"]
	path = app/hugit
	url = https://github.com/hugit-project/hugit.git
[submodule "app/zetawar"]
	path = app/zetawar
	url = https://github.com/Zetawar/zetawar.git
[submodule "app/portal"]
	path = app/portal
	url = git@github.com:djblue/portal.git
[submodule "lib/datascript"]
	path = lib/datascript
	url = git@github.com:tonsky/datascript.git
[submodule "doc/clojure-graph-resources"]
	path = doc/clojure-graph-resources
	url = git@github.com:simongray/clojure-graph-resources.git
[submodule "lib/autonormal"]
	path = lib/autonormal
	url = git@github.com:lilactown/autonormal.git
[submodule "lib/posh"]
	path = lib/posh
	url = git@github.com:denistakeda/posh.git
