[submodule "app/athens"]
	path = app/athens
	url = https://github.com/athensresearch/athens.git
[submodule "app/hugit"]
	path = app/hugit
	url = https://github.com/hugit-project/hugit.git
[submodule "app/zetawar"]
	path = app/zetawar
	url = https://github.com/Zetawar/zetawar.git
[submodule "app/portal"]
	path = app/portal
	url = git@github.com:djblue/portal.git
[submodule "lib/datascript"]
	path = lib/datascript
	url = git@github.com:tonsky/datascript.git
[submodule "doc/clojure-graph-resources"]
	path = doc/clojure-graph-resources
	url = git@github.com:simongray/clojure-graph-resources.git
[submodule "lib/autonormal"]
	path = lib/autonormal
	url = git@github.com:lilactown/autonormal.git
[submodule "lib/posh"]
	path = lib/posh
	url = git@github.com:denistakeda/posh.git
[submodule "lib/cljs-oops"]
	path = lib/cljs-oops
	url = https://github.com/binaryage/cljs-oops.git
[submodule "lib/clojurescript"]
	path = lib/clojurescript
	url = https://github.com/clojure/clojurescript.git
[submodule "lib/reagent"]
	path = lib/reagent
	url = https://github.com/reagent-project/reagent.git
[submodule "lib/datahike"]
	path = lib/datahike
	url = git@github.com:replikativ/datahike.git
[submodule "app/lighttable"]
	path = app/lighttable
	url = git@github.com:LightTable/LightTable.git
[submodule "app/asciinema-player"]
	path = app/asciinema-player
	url = git@github.com:asciinema/asciinema-player.git
[submodule "app/circleci-frontend"]
	path = app/circleci-frontend
	url = git@github.com:CircleCI-Archived/frontend.git
[submodule "lib/devcards"]
	path = lib/devcards
	url = git@github.com:bhauman/devcards.git
[submodule "app/goya"]
	path = app/goya
	url = git@github.com:jackschaedler/goya.git
[submodule "app/maria"]
	path = app/maria
	url = git@github.com:mhuebert/maria.git
[submodule "app/netrunner"]
	path = app/netrunner
	url = git@github.com:mtgred/netrunner.git
[submodule "app/precursor"]
	path = app/precursor
	url = git@github.com:PrecursorApp/precursor.git
[submodule "app/status-react"]
	path = app/status-react
	url = git@github.com:status-im/status-react.git
[submodule "app/sulolive"]
	path = app/sulolive
	url = git@github.com:eponai/sulolive.git
[submodule "lib/unravel"]
	path = lib/unravel
	url = git@github.com:Unrepl/unravel.git
